body {
  /* Set line height to 1.5 times the font size
     and use the OS's UI font as the website font
   */
  font: 100%/1.5 system-ui;
}

label {
  display: block;
  margin-block: 0 1rem;
}

input,
textarea,
button {
  font: inherit;
}

input,
textarea {
  box-sizing: border-box;
  display: block;
  margin-top: 0.25rem;
  max-width: 32rem;
  width: 100%;
}
